* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    line-height: 2.5;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background: #EAEAEA;
}

img {
    width: 100%;
  }

.elements {
    width: 100%;
    margin: 0 auto;
    max-width: 870px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: 50px;
    margin-block: 50px;
    animation: slideInDown; 
    animation-duration: 2s; 
}

#title {
    max-width: 870px;
    text-align: center;
}

.title-text {
    font-size: 30px;
}

.cake {
    width: 768px;
    max-width: 89%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text {
    font-size: 19px;
    word-wrap: break-word;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}

.sub-text{
    font-size: 22px;
    word-wrap: break-word;
    line-height: 30px;
    font-weight: 400;
    max-width: 768px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}

.caption{
    font-size: 20px;
    word-wrap: break-word;
    line-height: 30px;
    max-width: 768px;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}

.text-cobertura{
    font-size: 20px;
    word-wrap: break-word;
    line-height: 30px;
    max-width: 768px;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}

.preparo{
    font-size: 22px;
    word-wrap: break-word;
    line-height: 30px;
    font-weight: 400;
    max-width: 768px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}

.massa {
    font-size: 20px;
    word-wrap: break-word;
    line-height: 30px;
    max-width: 768px;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}

.cobertura {
    font-size: 20px;
    word-wrap: break-word;
    line-height: 30px;
    max-width: 768px;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}

.social-share-buttons.style-default [data-service] {
    box-shadow: 0 3px 0 rgb(0 0 0 / 5%);
    list-style: none;
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 17px;
    word-wrap: break-word;
}

.social-elementos {
    text-align: center;
}

.social-share-buttons>*:first-child {
    margin-left: 0;
}
.social-share-buttons.style-default>*, .social-share-buttons.style-default>li>span {
    border: 1px solid #ddd;
    background-color: #fff;
}
.social-share-buttons.size-large>*, .social-share-buttons.size-large>li>span {
    box-shadow: 0 3px 0 rgb(0 0 0 / 5%);
    min-width: 32px;
  }

.social-share-buttons>* {
    display: inline-block;
    margin: 5px 8px;
}
.social-share-buttons>*, .social-share-buttons>li>span {
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
    text-align: center;
    position: relative;
}

ul {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
}

ol {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
}
